<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.first_name %>, thank you for registering <%= @organization.name %> with Homeward Tails</h1>
    
    <p>
      You can access your site at: <%= link_to "#{root_url}#{@organization.slug}", home_index_url(script_name: "/#{@organization.slug}"), target: "_blank" %>
    </p>

    <p>Please proceed to creating your password by clicking the link below. Once complete, you will be taken to the staff dashboard</p>

    <p><%= link_to 'Create my password', edit_password_url(@user, reset_password_token: @token) %></p>

    <strong>Homeward Tails Team</strong>
  </body>
</html>
