<%= render DashboardPageComponent.new do |c| %>
  <% c.with_header_title { "Edit my profile settings" } %>
  <% c.with_body do %>
    <!--main section--> <!--form-->
    <section class="pb-5" id="edit_person_account">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mx-auto card p-5">
            <%= turbo_frame_tag "edit_person_form", src: edit_person_path(@person) %>
          </div>
          <!--col-->
        </div>
        <!--row-->
      </div><!--container-->
    </section>
    <section class="pb-5" id="edit_global_user_settings">
      <div class="container">
        <h3>Edit Homeward Tails login settings</h3>
        <div class="row">
          <div class="col-md-12 mx-auto card p-5">
            <%= turbo_frame_tag "user_registration_edit",
            src: edit_user_registration_path(current_user) %>
          </div>
          <!--col-->
        </div>
        <!--row-->
      </div><!--container-->
    </section>
  <% end %>
<% end %>
