<div id="fosters_tab_table">
  <%# Table layout %>
  <div class="d-flex flex-wrap justify-content-center">
    <%= render "organizations/staff/pets/tabs/partials/foster_table", fosters: fosters %>
  </div>
  <div class="d-xl-none d-flex flex-wrap">
    <%= render 'organizations/staff/pets/tabs/partials/foster_cards', fosters: fosters %>
  </div>
</div>
