<div class="card d-none d-xl-block mb-4 flex-grow-1 w-100">
  <div class="card-body px-5">
    <table class="table mb-0 text-nowrap table-hover table-centered">
      <thead>
        <tr>
          <th scope="col">Fosterer</th>
          <th scope="col">Status</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <%= 
          render(partial: "organizations/staff/pets/tabs/partials/foster_table_row", collection: fosters, as: :foster) ||  
            tag.tr { tag.td { link_to( 'There are no fosters for this pet. To make a new foster, click here', staff_manage_fosters_path) } }
        %>
      </tbody>
    </table>
  </div>
</div>
