<% case status %>
<% when :active %>
  <%# "check mark" symbol %>
  <p style="color:green;">&#10004;</p>

<% when :deactivated %>
  <%# "x" symbol %>
  <p style="color:red;">&#10008;</p>

<% when :not_present %>

  <% if helpers.allowed_to?(:add_group?, @person, with: Organizations::GroupManagementPolicy, context: {group: group_name_to_add}) %>
    <%= form_with url: add_group_staff_person_path(id: @person.id, group: group_name_to_add),
    method: :post,
    data: { turbo_confirm: t( ".confirm",
                             group: group_name_to_add.to_s.titleize,
                             person: @person.full_name ) } do %>
      <%= button_tag "+", class: "btn btn-sm btn-outline-primary" %>
    <% end %>
  <% else %>
    <%= button_tag "+", class: "btn btn-sm btn-outline-secondary", disabled: true %>
  <% end %>
<% end %>
