<% case status %>
<% when :active %>
  <p style="color:green;">&#10004;</p>

<% when :deactivated %>
  <p style="color:red;">&#10008;</p>

<% when :missing %>

  <%= form_with url: add_group_staff_person_path(id: @person.id, group: group_name_to_add), method: :post, data: { turbo_frame: "_top" } do %>
    <%= button_tag "+", class: "btn btn-sm btn-outline-primary" %>
  <% end %>
<% end %>
