<div data-controller="tooltip" data-action="mouseenter->tooltip#showTooltip mouseleave->tooltip#hideTooltip" class="mb-3 ms-1" tabindex="0">
  <i class="fe fe-help-circle"></i>
  <div data-tooltip-target="tooltip" class="tooltip bs-tooltip-top fade" role="tooltip" style="display: none;  position:absolute;">
    <div class="tooltip-inner">
       <%= text %>
    </div>
  </div>
</div>