<%= turbo_frame_tag :form_answers do %>
  <h4>Form Answers (<%= @form_submission.csv_timestamp.strftime("%Y-%m-%d") %> at <%= @form_submission.csv_timestamp.strftime("%H:%M") %>)</h4>

  <%= render partial: "organizations/shared/form_answers", collection: @form_answers, as: :form_answer %>
<% end %>
