<% url = url ? url : "/" %>
<% target = target ? target : "_self" %>
<div class="d-flex justify-content-end align-items-end gap-3">
  <div class="fst-italic text-black">Powered By</div>
  <%= link_to url, target: target , class: "link-primary link-opacity-25-hover" do %>
    <div class="fs-3">
      <%= t("root.index.title") %>
    </div>
    <div class="fw-light"><%= t("root.index.sub_title") %></div>
  <% end %>
</div>
