<%# @pet, @pets are defined in the adoption_application_reviews controller %>

<% @collection = @pet.nil? ? @pets_with_applications : @pet %>

<div class="d-flex flex-wrap justify-content-center">
  <% if @collection.present? %>
    <% @collection.each do |pet| %>
      <!--pet name-->
      <%= render "organizations/staff/pets/tabs/applications", applications: pet.adopter_applications, pet: pet %>
    <% end %>
  <% else %>
    <%= render partial: "shared/empty_state", locals: {text: t(".no_applications")} %>
  <% end%>
</div>