<div class=<%= "user_deactivate_toggle_#{user.id}" %>>
  <%= form_with model: user, url: activations_path(user_id: user.id) do |form| %>
    <div class='form-group d-flex justify-content-center'>
      <div class="form-check form-switch">
        <%= form.check_box :deactivated?,
          {
            class: "form-check-input",
            role: "switch",
            disabled: user == current_user,
            id: "flexSwitchCheckChecked",
            onchange: "this.form.requestSubmit()"
          },
          true,
          false
        %>
      </div>
    </div>
  <% end %>
</div>
