<%= render DashboardPageComponent.new(crumb: :invite_fosterer) do |c| %>
  <% c.with_header_title { t("invite_fosterer") } %>
  <% c.with_body do |b| %>
    <div class='mx-auto' style='max-width: 600px'>
      <%= render "organizations/staff/fosterer_invitations/form", user: @user %>
    </div>
  <% end %>
<% end %>
