<div class="accordion accordion-flush" id="accordion-tips">
  <div class="pt-5" id="heading_tips">
    <h3 class="mb-0 fw-bold">
      <a
        href="#"
        class="d-flex align-items-center text-inherit active collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#tips"
        aria-expanded="false"
        aria-controls="tips"
      >
        <span>Tips on submitting feedback</span>
        <span class="collapse-toggle ms-4">
          <i class="fe fe-chevron-down text-primary"></i>
        </span>
      </a>
    </h3>
  </div>
  <div
    id="tips"
    class="collapse"
    aria-labelledby="heading_tips"
    data-bs-parent="#accordion-tips"
  >
    <div class="py-3 fs-6">
      <h3>Reporting Bugs</h3>
      <p>Please provide the following details:</p>
      <ul>
        <li>Organization Name</li>
        <li>Page URL</li>
        <li>Steps to Reproduce</li>
        <li>Expected vs. Actual Outcomes</li>
      </ul>

      <h3>Requesting Features</h3>
      <p>Please include:</p>
      <ul>
        <li>Page for the Feature</li>
        <li>Feature Description</li>
        <li>Utility of the Feature</li>
      </ul>
    </div>
  </div>
</div>
